<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name=".application.Wordbox"
        android:allowBackup="true"
        android:icon="@mipmap/wb_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/wb_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TCRWordbox">

      <!--  <service
            android:label="@string/app_name"
            android:name="android.service.textservice.SpellCheckerService"
            android:permission="android.permission.BIND_TEXT_SERVICE"
            android:exported="true">
            <intent-filter >
                <action android:name="android.service.textservice.SpellCheckerService" />
            </intent-filter>

            <meta-data
                android:name="android.view.textservice.scs"
                android:resource="@xml/spellchecker" />
        </service>
-->
        <activity
            android:name=".CreatePuzzle"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>


            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>

        </activity>
    </application>

</manifest>